*.bmp
*.class
*.ear
*.gif
*.iml
*.iws
*.jar
*.jdproj
*.jpg
*.MF
*.png
*.pom
*.swp
*.war
*~
*.xlsx
.classpath
.clover/
.idea
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dynamic.xml
.idea/gradle.xml
.idea/jsLibraryMappings.xml
.idea/mongoSettings.xml
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea_modules/
.project
.settings/
/out/
/SimpleApp-jrebel.launch
/SimpleApp-PROTOTYPE-jrebel.launch
/target/
/translations.pot
atlassian-ide-plugin.xml
bin/
com_crashlytics_export_strings.xml
configuracion*.xml
crashlytics-build.properties
crashlytics.properties
datanucleus.log
dependency-reduced-pom.xml
fabric.properties
hibernate.cfg.xml
hs_err_pid*.log
i18n-po.log
isis.log
JArchitectOut/
logs/
neo4j_DB/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
rebel.xml
sqljdbc4.jar
target-ide/
target/
log4j2.xml
dbunit.log
e.bat
src/main/java/org/
src/main/resources/org/
