.actores tfoot tr,.casos-de-uso tfoot tr {
border:1px dotted #ddd;
}

.actores tr td,.casos-de-uso tr td {
padding:10px 2px;
}

.consulta table.casos-de-uso,.consulta table.actores {
width:700px;
}

.consulta table.cronograma {
width:70em;
}

.consulta table.factores {
width:600px;
}

.consulta td.complejidad-factor,.consulta td.peso-factor,.consulta td.valor-factor {
width:12%;
text-align:right;
padding:0 1em;
}

.consulta td.nombre-factor {
width:64%;
}

.consulta th {
text-align:center;
padding:0 1em;
}

.consulta thead {
border-bottom:1px solid #ddd;
}

.cronograma .totales {
border-top:3px double #ddd;
background-color:rgba(255,207,0,0.5);
}

.cronograma h2 {
margin-top:0;
}

.cronograma th,.cronograma .incluir,.tabla td.fecha {
text-align:center;
}

.cronograma th,.cronograma td {
padding:5px 5px 0 0;
}

.cronograma th.incluir {
width:60px;
}

.cronograma th.porcentaje {
width:10%;
}

.cronograma th.proveedor {
width:150px;
}

.cronograma th.tarea,.tabla td.eds {
width:200px;
}

.cronograma tr.duracion {
background-color:#DFD;
}

.cronograma tr.esfuerzo {
background-color:#DDF;
}

.cronograma tr.fija {
background-color:#FDD;
}

.cronograma tr.gestion {
background-color:#FEFFDD;
}

.estimacion input#eds {
width:250px;
}

.estimacion input#nombre {
width:500px;
}

.estimacion ul {
list-style-type:none;
}

.factores,.cronograma {
border-bottom:1px solid #ddd;
padding-bottom:10px;
margin:10px 0;
}

.login {
margin:40px 0;
}

.login .recuperar,tr.costo-proveedor td:last-of-type,table.costo-proveedor tr.totales td:last-of-type,.cronograma td.recursos,.recursos input,.cronograma td.dias,.dias input,.cronograma td.horas,.cronograma .porcentaje input,.cronograma .recursos input,.cronograma .dias input,.tabla td.puntos,.tabla td.esfuerzo {
text-align:right;
}

.login .row,.cronograma td,table.actores,table.casos-de-uso {
padding:5px 0;
}

.login form {
border:1px solid #ddd;
padding:10px;
}

.login input {
text-align:left;
}

.puntuable tbody {
padding:0 0 10px;
}

.tabla {
margin:10px 0;
}

.tabla td.idEstimacion {
text-align:right;
padding:0 10px 0 0;
}

.tabla td.nombre,.tabla td.eds,.tabla td {
padding:0 10px;
}

.tabla th {
line-height:1em;
border-bottom:1px solid #ddd;
text-align:center;
padding:0 10px;
}

.tecnicos .complejidad input,.tecnicos .complejidad label,.ambiente .complejidad input,.ambiente .complejidad label {
vertical-align:middle;
margin:0 0 0 5px;
}

.tecnicos h3,.ambiente h3 {
border-bottom:1px solid #ddd;
margin:10px 0 0;
}

.tecnicos td,.ambiente td {
border-bottom:dotted 1px #dedede;
}

.tecnicos td.descripcion,.ambiente td.descripcion {
font-size:80%;
width:30%;
}

.tecnicos td.nombre,.ambiente td.nombre {
width:40%;
}

a.actualizar {
text-align:center;
background:#4479BA;
color:#FFF;
height:50px;
display:block;
width:100px;
line-height:2em;
margin:10px 0;
padding:10px;
}

a.grabar {
text-align:center;
background:#4479BA;
color:#FFF;
height:50px;
display:block;
width:100px;
line-height:2em;
margin:10px 10px 10px 15px;
padding:10px;
}

div.consulta {
margin:10px;
}

div.consulta h1 {
line-height:1.6em;
border-bottom:1px solid #000;
}

div.consulta table.estimacion {
border-bottom:1px solid #99;
}

div.titulo {
border-bottom:1px solid #ddd;
margin:0 0 10px;
}

form.estimacion {
border-bottom:1px solid #ddd;
margin:10px 0;
}

input.descripcion,.tabla th.nombre {
width:300px;
}

table.costo-adicional {
width:40em;
}

table.costo-proveedor {
width:30em;
}

table.costo-proveedor tr.totales {
border-top:double 3px #ddd;
}

table.estimacion {
width:100%;
border-bottom:1px solid #ccc;
margin:10px 0;
}

table.estimacion .dato {
font-weight:700;
}

table.estimacion .titulo,.cronograma th.porcentaje,.cronograma th.recursos,.cronograma th.dias,.cronograma th.horas,.estimacion label,.tabla th.idEstimacion {
width:100px;
}

td.costo-adicional,td.moneda-adicional,td.costo-proveedor {
text-align:right;
width:20%;
}

td.descripcion-adicional,.consulta td.descripcion-puntuable {
width:60%;
}

td.moneda-adicional {
width:20%;
text-align:center;
}

td.moneda-proveedor {
width:10%;
text-align:center;
}

td.nombre-cronograma,.tecnicos td.complejidad,.ambiente td.complejidad {
width:30%;
}

td.porcentaje-cronograma,td.recursos-cronograma,td.dias-cronograma,td.horas-cronograma {
width:12%;
text-align:right;
}

td.proveedor-cronograma,.consulta td.complejidad-puntuable,td.plataforma-puntuable,.actores td,.casos-de-uso td {
width:20%;
}

td.proveedor-proveedor,.actores tr td:first-child,.casos-de-uso tr td:first-child {
width:50%;
}

tr.costo-proveedor td:first-of-type {
text-align:left;
width:40%;
}

tr.costo-proveedor th,tr.costo-proveedor td {
text-align:left;
width:70px;
}

tr.total-cronograma {
border-top:3px double #ddd;
}