<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" configDebug="true">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <logger name="org.apache.wicket" level="WARN" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>
        <logger name="pe.com.pps" level="WARN" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>
        <logger name="pe.trazos" level="DEBUG" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>
        <logger name="pe.com.pps.model" level="DEBUG" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>
        <logger name="org.apache.shiro" level="WARN" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </logger>
		<logger name="org.apache.shiro.web.env.EnvironmentLoaderListener" level="TRACE" additivity="false">
			<AppenderRef ref="CONSOLE"/>
		</logger>
        <Root level="WARN">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</log4j:configuration>