.cronograma h2 {
margin-top:0;
}

.cronograma td.recursos,.recursos input,.cronograma td.dias,.dias input,.cronograma td.horas {
text-align:right;
}

.cronograma th,.cronograma td {
padding:5px 5px 0 0;
}

.cronograma th.incluir {
width:60px;
}

.cronograma th.porcentaje {
width:10%;
}

.cronograma th.porcentaje,.porcentaje input,.cronograma th.recursos,.recursos input,.cronograma th.dias,.dias input,.cronograma th.horas {
text-align:center;
width:100px;
}

.cronograma th.proveedor {
width:150px;
}

.cronograma th.tarea {
width:200px;
}

.cronograma tr.duracion {
background-color:#DFD;
}

.cronograma tr.esfuerzo {
background-color:#DDF;
}

.cronograma tr.fija {
background-color:#FDD;
}

.cronograma tr.gestion {
background-color:#FDF;
}

.estimacion input#eds {
width:250px;
}

.estimacion input#nombre {
width:500px;
}

.estimacion label {
width:100px;
}

.estimacion ul {
list-style-type:none;
}

.factores,.cronograma {
border-bottom:1px solid #ddd;
padding-bottom:10px;
margin:10px 0;
}

.puntuable {
border-bottom:1px solid #ddd;
padding:0 0 10px;
}

.tecnicos .complejidad input,.tecnicos .complejidad label,.ambiente .complejidad input,.ambiente .complejidad label {
vertical-align:middle;
margin:0 0 0 5px;
}

.tecnicos h3,.ambiente h3 {
border-bottom:1px solid #ddd;
margin:0;
}

.tecnicos td,.ambiente td {
border-bottom:dotted 1px #dedede;
}

.tecnicos td.complejidad,.ambiente td.complejidad {
width:30%;
}

.tecnicos td.descripcion,.ambiente td.descripcion {
font-size:80%;
width:30%;
}

.tecnicos td.nombre,.ambiente td.nombre {
width:40%;
}

div.titulo {
border-bottom:1px solid #ddd;
margin:0 0 10px;
}

form.estimacion {
border-bottom:1px solid #ddd;
margin:10px 0;
}

.tabla th {
  line-height: 1em;
  border-bottom: 1px solid #ddd;
}

.tabla {
  margin: 10px 0;
}

.tabla th {
  text-align: center;
}

.tabla th.idEstimacion  {
  width: 100px;
}

.tabla th.nombre {
  width: 400px;
}

 .tabla td.eds  {
   width: 200px;
 }

.tabla td.nombre, .tabla td.eds   {
  padding: 0 10px;
}

.tabla td.idEstimacion  {
  text-align:right;
  padding: 0 10px 0 0;
}

a.actualizar {
  padding: 10px 10px;
  text-align: center;
  background: #4479BA;
  color: #FFF;
  height: 50px;
  display:block;
  width: 100px;
  line-height: 2em;
  margin: 10px 0;
}

a.grabar {
  padding: 10px 10px;
  text-align: center;
  background: #4479BA;
  color: #FFF;
  height: 50px;
  display:block;
  width: 100px;
  line-height: 2em;
  margin: 10px 10px 10px 15px;
}